*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

@media screen and (max-width:767px) {
    body{
        background-color: #E5E5E5;
        font-family: 'Roboto', sans-serif;
    }

    header{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        padding: 1.5rem;
        background-color: #CF2B2B;
        box-shadow: 0px 4px 4px #888888;
    }
    header h1{
        font-size: 44px;
        color: #ffffff;
        font-family: 'Righteous', cursive;
    }
    header h2{
        font-size: 18px;
        color: #ffffff;
    }

    .space{
        margin: 8rem;
    }
    .prato{
        margin: 1rem;
    }
    .prato h1{
        font-size: 26px;
        color: #333333;
        font-family: 'Righteous', cursive;
    }
    .opcoes-prato{
        display: flex;
        overflow-x: scroll;
    }
    .opcoes-prato div{
        margin: 0.5rem;
    }
    .opcao{
        width: 180px;
        height: 285px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        background-color: white;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
    }
    .opcao img{
        border-radius: 9px;
        width: 144px;
        height: 110px;
        object-fit: cover;
    }
    .nome-do-item{

        width: 90%;
        line-height: 19px;
        font-weight: 700;
        color: #333333;
        font-size: 16px;
    }
    .descricao{

        width: 90%;
        line-height: 19px;
        font-size: 15px;
        font-weight: 300;
        color: #a6a6a6;
    }

    .preco{
        width: 90%;
        line-height: 19px;
        font-size: 16px;
        color: black;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: white;
        text-align: center;
      }
      footer button{
          border: none;
          font-size: 20px;
          font-weight: 400;
          color:white;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60px;
          background-color: #cbcbcb;
          padding: 20px;
          margin: 20px;
          border-radius: 50px;
      }
      .selected{
        border: 5px solid green;
      }
    
}
